doctype html
html
    head
        title="Logowanie Google"
    body
        p.greetings#people Witaj na stronie z tajną zawartością! Aby otrzymać do niej dostęp musisz najpierw się zarejestrować:
        a(href="/auth/google") Rejestracja